.specialization-card {
  margin-top: 10px;
}

.specialization-card-image {
  width: 40px;
  margin-top: -10px;
}

.mat-card-title {
  font-size: 18px;
}

.fh5co-heading h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 34px;
}
.MuiCard-root {
  overflow: initial !important;
}
.MuiPaper-elevation1{
    box-shadow: none !important;
}